In [477]:
# Importing all necessary libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [478]:
# Using data from Apple's stock.
df = pd.read_csv('/Users/mylesosborn/Desktop/SPX/SPX_Pred_Tools/nasdaq_daily.csv')

In [479]:
df.tail()

,date,wsj_mean_compound,reuters_mean_compound,cnbc_mean_compound,bloomberg_mean_compound,open,high,low,close,range,best option
201,9/1/22,-0.000770,-0.095450,-0.310500,-0.012102,3936.73,3970.23,3903.65,3966.86,33.50,-1
202,9/2/22,0.000645,0.415050,-0.183511,-0.228700,3994.66,4018.43,3906.21,3924.27,-88.45,-1
203,9/6/22,0.340000,-0.044475,0.142687,-0.295300,3930.89,3942.55,3886.75,3908.20,-44.14,-1
204,9/7/22,0.000711,0.510600,-0.515533,0.125000,3909.43,3987.89,3906.03,3979.88,78.46,1
205,9/8/22,-0.361200,-0.000479,-0.159100,0.518000,3959.54,4010.50,3944.81,4006.19,50.96,1

In [480]:
#df.describe()

In [481]:
columns = ['best option', 'wsj_mean_compound','reuters_mean_compound','cnbc_mean_compound','high','low','range','bloomberg_mean_compound','open','close']
df2 = pd.DataFrame(df, columns=columns)

In [482]:
df2.tail()

,best option,wsj_mean_compound,reuters_mean_compound,cnbc_mean_compound,high,low,range,bloomberg_mean_compound,open,close
201,-1,-0.000770,-0.095450,-0.310500,3970.23,3903.65,33.50,-0.012102,3936.73,3966.86
202,-1,0.000645,0.415050,-0.183511,4018.43,3906.21,-88.45,-0.228700,3994.66,3924.27
203,-1,0.340000,-0.044475,0.142687,3942.55,3886.75,-44.14,-0.295300,3930.89,3908.20
204,1,0.000711,0.510600,-0.515533,3987.89,3906.03,78.46,0.125000,3909.43,3979.88
205,1,-0.361200,-0.000479,-0.159100,4010.50,3944.81,50.96,0.518000,3959.54,4006.19

In [483]:
df2 = pd.DataFrame(df2)

In [484]:
# Prediction 100 days into the future.
future_days = 3
df2['Prediction'] = df2['best option'].shift(-future_days)

In [485]:
X = np.array(df2.drop(['Prediction'], 1))[:-future_days]
#print(X)

/Users/mylesosborn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [486]:
y = np.array(df2['Prediction'])[:-future_days]
#print(y)

# Random Forest

In [487]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import pickle

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
y_test

array([ 1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1., -1.,
       -1.,  1., -1., -1.,  1.,  1., -1., -1.,  1., -1.,  1., -1., -1.,
       -1.,  1.,  1., -1., -1., -1., -1., -1., -1., -1.,  1.,  1.,  1.,
       -1.,  1.])

In [488]:
# Implementing Linear and Decision Tree Regression Algorithms.
filename = 'finalized_model_rf_nasdaq.sav'
rf = pickle.load(open(filename, 'rb'))

In [489]:
rf_prediction = rf.predict(x_test)
print('Random Forest prediction :',rf_prediction)

Random Forest prediction : [ 1. -1.  1.  1.  1. -1.  1. -1. -1. -1. -1. -1. -1. -1.  1. -1.  1.  1.
  1. -1. -1.  1. -1. -1.  1. -1. -1.  1.  1. -1.  1. -1. -1. -1. -1. -1.
  1.  1. -1. -1.  1.]

In [490]:
predictions = rf_prediction[-future_days:]
predictions

array([-1., -1.,  1.])

In [491]:
x_future = df2.drop(['Prediction'], 1)[:-future_days]
x_future = x_future.tail(future_days)
x_future = np.array(x_future)

/Users/mylesosborn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [492]:
rf_prediction2 = rf.predict(x_future)
print('Random Forest prediction :',rf_prediction2)

Random Forest prediction : [1. 1. 1.]

In [493]:
ac = accuracy_score(rf_prediction, y_test)
ac

0.8536585365853658