In [1]:
# Importing all necessary libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Using data from Apple's stock.
df = pd.read_csv('/Users/mylesosborn/Desktop/SPX/SPX_Pred_Tools/nasdaq_daily.csv')

In [3]:
df.tail()

,date,wsj_mean_compound,reuters_mean_compound,cnbc_mean_compound,bloomberg_mean_compound,open,high,low,close,range,best option
194,6/8/22,-0.064242,0.016400,-0.013900,0.082317,4147.12,4160.14,4107.20,4115.78,-39.92,1
195,6/9/22,0.054590,-0.076550,-0.161650,0.348950,4101.65,4119.10,4017.17,4017.81,-84.48,-1
196,6/10/22,-0.000359,-0.659700,-0.105900,-0.100475,3974.39,3974.39,3900.16,3900.85,-74.23,-1
197,6/13/22,-0.044863,-0.027750,0.069710,-0.251625,3838.15,3838.15,3734.30,3749.64,-103.85,-1
198,6/14/22,-0.089453,-0.008133,-0.052187,-0.165100,3763.52,3778.18,3705.68,3735.47,-57.84,-1

In [4]:
#df.describe()

In [5]:
df.shape

(199, 11)

In [6]:
columns = ['best option', 'wsj_mean_compound','reuters_mean_compound','cnbc_mean_compound','high','low','range','bloomberg_mean_compound','open','close']
df2 = pd.DataFrame(df, columns=columns)

In [7]:
df2.tail()

,best option,wsj_mean_compound,reuters_mean_compound,cnbc_mean_compound,high,low,range,bloomberg_mean_compound,open,close
194,1,-0.064242,0.016400,-0.013900,4160.14,4107.20,-39.92,0.082317,4147.12,4115.78
195,-1,0.054590,-0.076550,-0.161650,4119.10,4017.17,-84.48,0.348950,4101.65,4017.81
196,-1,-0.000359,-0.659700,-0.105900,3974.39,3900.16,-74.23,-0.100475,3974.39,3900.85
197,-1,-0.044863,-0.027750,0.069710,3838.15,3734.30,-103.85,-0.251625,3838.15,3749.64
198,-1,-0.089453,-0.008133,-0.052187,3778.18,3705.68,-57.84,-0.165100,3763.52,3735.47

In [8]:
df2 = pd.DataFrame(df2)

In [9]:
# Prediction 100 days into the future.
future_days = 3
df2['Prediction'] = df2['best option'].shift(-future_days)

In [10]:
#df2.tail()

In [11]:
X = np.array(df2.drop(['Prediction'], 1))[:-future_days]
#print(X)

/Users/mylesosborn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [12]:
y = np.array(df2['Prediction'])[:-future_days]
#print(y)

# Random Forest

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
y_test

array([ 1., -1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,  1.,
        1., -1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1., -1., -1.,
       -1., -1., -1.,  1.,  1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,
       -1.])

In [14]:
# Implementing Linear and Decision Tree Regression Algorithms.
rf = RandomForestClassifier(n_estimators=235, criterion="entropy").fit(x_train, y_train)

In [15]:
rf_prediction = rf.predict(x_test)
print('Random Forest prediction :',rf_prediction)

Random Forest prediction : [-1. -1. -1.  1. -1. -1.  1.  1. -1. -1. -1. -1. -1. -1.  1. -1.  1. -1.
  1. -1. -1.  1.  1.  1. -1. -1. -1. -1.  1. -1.  1.  1. -1. -1.  1. -1.
  1. -1. -1. -1.]

In [16]:
#predictions = rf_prediction[-future_days:]
#predictions

In [17]:
x_future = df2.drop(['Prediction'], 1)[:-future_days]
x_future = x_future.tail(future_days)
x_future = np.array(x_future)

/Users/mylesosborn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [18]:
rf_prediction2 = rf.predict(x_future)
print('Random Forest prediction :',rf_prediction2)

Random Forest prediction : [-1. -1. -1.]

In [19]:
ac = accuracy_score(rf_prediction, y_test)
ac

0.375

In [20]:
#import pickle
#filename = 'finalized_model_rf_nasdaq.sav'
#pickle.dump(rf, open(filename, 'wb'))